<html>
	<head>
		<title>Jen's Blog</title>
	</head>

	<body>
		
		<div>
			<h1><a href="">Jen's Blog</a></h1>
			<h2>Jen is a visual and UX designer living in Durham, NC.
			</h2>
		</div>

		<div>
			<p>published: 19.05.2016, 13:38</p>
			<h3><a href="">Cheese pizza recipe</a></h3>
			<p>Cheese pizza is my favorite food. Here I share a super easy recipe for making your own. Or you could always call Dominos :).</p>
		</div>

		<div>
			<p>published: 21.05.2016, 13.55</p>
			<h3><a href="">My second post</a></h3>
		
		<div>
			<p>Check out my <a href="http://curiousmustard.com/">portfolio</a></p>
		</div>

	</body>

</html>
