.page-header {
	background-color: #ffbd00;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #fff;
	font-size: 42pt;
	text-decoration: none;
}

.date {
	color: #000;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #fff;
	float: right:
	font-size: 24pt;
	margin-right: 20px;
}

.post {
	margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
	color: #fd5821;
}

content {
	margin-left: 40px;
}

h1, h2, h3, h4 {
	font-family: Roboto Slab; serif;
}

h1 a {
	color: #ffbd00;
	font-family: Roboto Slab; serif;
}

body {
	padding-left: 30px;
	color: #555;
	font-family: Open Sans; Helvetica; sans-serif;
}

h2 {
	color: #fd5821;
}

h2 a {
	color: #fd5821;
}

